.shopButton {
  background: none;
  outline: none;
  border: none;
  margin-left: 16px;
  font-size: 40px;
  width: 64px;
  height: 64px;
  background-color: rgb(131, 7, 7);
}

.shopImg {
  width: 64px;
  height: 64px;
}

.searchLeaveContainer {
  display: flex;
  width: 100%;
}

.containerItems {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.itemContainer {
  position: relative;
}
.itemContainer:hover .itemCaption {
  display: block;
  opacity: 1;
}

.itemCaption {
  display: none;
  position: absolute;
  bottom: -40px;
  left: -50px;
  z-index: 100;

  width: 300px;

  background-color: red;
  border-radius: 10px;
  border: 3px solid white;

  opacity: 0;
  transition: 0.3s ease-in-out;
}
