.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:  82px;
}

.captionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:  82px;
  min-width:  64px;
}
.captionDesc {
  font-size: 12px;
}

.description {
  align-self: flex-start;
  margin-left: 30px;
}
