@keyframes ArrowDropUp {
  from {
    transform: translateY(2px);
  }

  to {
    transform: translateY(-2px);
  }
}
@keyframes ArrowDropDown {
  from {
    transform: translateY(2px);
  }

  to {
    transform: translateY(-2px);
  }
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  width: 200px;
  margin-left: 35px;
}
.para {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.arrowContainer {
  width: 24px;
  height: 24px;
}

.ArrowDropUp {
  animation: ArrowDropUp 0.7s infinite alternate-reverse ease-in-out;
}
.ArrowDropDown {
  animation: ArrowDropDown 0.7s infinite alternate-reverse ease-in-out;
}
