.heading {
  display: flex;
}

.heading button {
  border: none;
  background-color: transparent;

  outline: none;
}

.heading_name,
.heading_type,
.heading_stats {
  flex: 1;
  padding: 20px;
  color: var(--text-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
}
.heading_stats {
  background-color: var(--background-color);
  border: none;
}

.heading_arrow {
  color: var(--text-color-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.row {
  display: flex;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 16px;

  position: relative;
  z-index: 0;
  background-position: 50%;
  background-size: cover;

  transition: 0.2s ease-in-out;
}

.row:hover {
  transform: translateY(-4px);
}

.name {
  margin: 10px 0;
  position: relative;
  flex: 1;
  text-align: left;
  z-index: 2;
  color: white;
}

.type {
  margin: 10px 0;
  flex: 1;
  z-index: 2;
  color: white;
}

.stats {
  margin: 10px 0;
  flex: 1;
  z-index: 2;
  color: white;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
