.wrap {
  display: flex;
}

.buttonReturn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background-color);
  font-weight: bold;
  font-size: 20px;

  height: 44px;
  width: 120px;

  background-color: var(--text-color-secondary);
  transition: 0.3s ease-in-out;
}
.buttonReturn:hover {
  background-color: var(--text-color-secondary);
  filter: brightness(1.2);
}

.ArrowLeft {
  font-size: 40px;
}

.container_left {
  display: flex;
  flex-direction: column;
}

.h3 {
  font-size: 42px;
  font-weight: bold;
}
.h4 {
  font-size: 28px;
  font-style: italic;
  text-transform: lowercase;
}
